.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.clear{
  background-image: url("https://images.unsplash.com/photo-1622278647429-71bc97e904e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fewClouds{
  background-image: url("https://images.unsplash.com/photo-1601297183305-6df142704ea2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.scatteredClouds{
  background-image: url("https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.brokenClouds{
  background-image: url("https://images.unsplash.com/photo-1566010503302-2564ae0d47b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.showerRain{
  background-image: url("https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2hvd2VyJTIwcmFpbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rain{
  background-image: url("https://images.unsplash.com/photo-1494007485290-ce668e189d92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.thunderstorm{
  background-image: url("https://images.unsplash.com/photo-1605727216801-e27ce1d0cc28?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.snow{
  background-image: url("https://images.unsplash.com/photo-1457269449834-928af64c684d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mist{
  background-image: url("https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fG1pc3QlMjB3ZWF0aGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.other{
  background-image: url("https://images.unsplash.com/photo-1584267385494-9fdd9a71ad75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Logo */

.logo {
  width: 22em;
}

.container-logo-search {
  background-color: rgba(255, 255, 255, 0.418);
  border-radius: 10px;
  width: 350px;
  margin: auto;
}

.city {
  width: 300px;
}

.homepage {
  display: table;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  background: url('https://images.unsplash.com/photo-1584267385494-9fdd9a71ad75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') no-repeat bottom center scroll;
  background-position: 30% 45%;
  background-size: cover;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  
}
/* @media screen and (max-width: 1000px) {
  .homepage {
    width: 100vw;
    height: 100vh;
  };
}

 @media screen and (min-width: 1000px) {
  .homepage {
    height: 100vh;
    width: none;
  };
} */


.weather-icon {
  width: 120px;
}


.box-citypage {
  border-radius: 10px;
  width: 400px;
  margin: auto;
}

.img-weather {
  margin: auto;
  width: 400px;
  height: 200px;
  border-radius: 10px;
}
.text-citypage {
  font-size: 24px ;
}

.btn-color {
  background-color: #004aad;
  border: 1px solid #004aad;
  color: white;

}
.bkg-card {
  background-color: rgba(255, 255, 255, 0.383);
}
.bkg-blue {
  background-color: #004aad;
  color: white;
  border-radius: 0px 0px 10px 10px;

}